<li>
  <table border=1>
  	<th>Home</th>
  	<th>From</th>
  	<th>To</th>
  	<tr>
 
  		<td> <%= booking.home.name%> </td>
  		<td> <%= booking.from%> </td>
  		<td> <%= booking.to%> </td>
  	</tr>

  </table> 


</li>