<li id="<%= home_search_item.id %>">
  <%= link_to gravatar_for(home_item.home), home_item.home %>
  <span class="home">
    <%= link_to home_item.home.name, home_item.home %>
  </span>
  <span class="content"><%= home_item.content %></span>


  
</li>