<li id="<%= home_search_item.id %>">
  <%= link_to gravatar_for(home_search_item.home), home_search_item.home %>
  <span class="home">
    <%= link_to home_search_item.home.name, home_search_item.home %>
  </span>
  <span class="content"><%= home_search_item.content %></span>  
</li>