<% provide(:title, 'All homes') %>
<div class="row">
<%if @homes.any? %>

		<h1>Homes in <%= @homes.first.place %></h1>
		
		<div class="span8">
	 	<%= will_paginate @homes, params: {place: @homes.first.place} %>
 		<ol class="homes">		
      		<%= render @homes %>
    	</ol>
 		 <%= will_paginate @homes, params: {place: @homes.first.place} %>
    </div>

 <% else %>
  <h1>No homes found vacant!</h1>
<% end %>
</div>